@use '../base/variables' as *;

/* Change box */

.offers-change-box {
	padding: 32px 0 24px;
	width: 100%;

	@include tablet {
		padding: 48px 0 48px;
	}

	&__bar {
		background-color: var(--color-background-change-box);
		border-radius: var(--border-radius-btn);

		@include desktop {
			margin: 0 auto;
			width: 441px;
		}
	}

	&__selection {
		display: flex;
		align-items: center;
		margin-bottom: 32px;

		@include tablet {
			margin-bottom: 48px;
		}

		.button {
			margin: 3px;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;

			&:active {
				border: none;
			}

			&--white {
				&:hover {
					background-color: var(--color-white);
				}
			}
		}
	}

	.open {
		display: grid;
	}

	&__content {
		display: none;
		grid-template-rows: repeat(4, 1fr);
		row-gap: 24px;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 24px;
		}

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
		}
	}

	&__card {
		padding: 0 24px;
		background-color: var(--color-white);
		border: 1px solid var(--color-white);
		border-radius: var(--border-radius-box);
		text-align: center;
		transition: all 0.3s;

		&:hover {
			border: 1px solid rgba(37, 99, 235, 1);
			background-color: rgba(37, 99, 235, 0.1);
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 144px;
	}

	&__description {
		.section-text--description {
			padding: 16px 0 24px;

			@include tablet {
				padding: 24px 0;
			}
		}

		.section-text--ask {
			position: relative;
			display: block;
			margin-bottom: 32px;
			transition: all 0.3s;

			&:hover {
				color: rgba(37, 99, 235, 1);
				transform: translateX(-16px);
			}

			.img {
				position: absolute;
				top: calc(50% - 7px);
				left: calc(50% - 7px);
				transition: all 0.3s;
				opacity: 0;
			}

			&:hover > .img {
				transform: translateX(50px);
				opacity: 1;
			}
		}
	}
}
