@use '../base/variables' as *;

/* Styles of global */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 64px;

	@include desktop {
		scroll-padding-top: 104px;
	}
}

.container {
	position: relative;
	margin: 0 auto;
	padding: 0 24px;
	width: 100%;
	max-width: 1366px;

	@include desktop {
		padding: 0 64px;
	}

	@include bigDesktop {
		padding: 0 128px;
		max-width: 1920px;
	}
}

.section {
	padding: 40px 0;

	@include tablet {
		padding: 64px 0;
	}

	&--partners {
		padding: 32px 0;

		@include desktop {
			padding: 40px 0;
		}
	}

	&--contact {
		padding-bottom: 16px;

		@include desktop {
			padding-bottom: 0;
		}
	}

	.section-title {
		padding: 8px 0 24px;

		@include tablet {
			padding: 16px 0 24px;
		}

		&--meter {
			padding: 0 0 16px;
		}
	}
}
