@use '../base/variables' as *;

/* Section of heading */

.section-heading {
	width: 100%;
	background-image: url('../../dev/img/bg-banner-small.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include mobile-landscape {
		height: 100vh;
		background-image: url('../../dev/img/bg-banner-large.jpg');
		background-position: left;
	}

	@include tablet {
		height: 100vh;
		background-image: url('../../dev/img/bg-banner-large.jpg');
		background-position: 60%;
	}

	@include desktop {
		background-position: center;
	}

	.container {
		height: 100%;

		@include mobile-landscape {
			display: flex;
			align-items: center;
		}

		@include tablet {
			display: flex;
			align-items: center;
		}
	}

	&__box {
		padding-top: 151px;

		@include mobile-landscape {
			padding-top: 0;
			width: 70%;
		}

		@include tablet {
			padding-top: 0;
			width: 65%;
		}

		@include desktop {
			width: 50%;
		}

		.small-heading {
			text-align: left;

			@include mobile-landscape {
				display: none;
			}
		}

		.heading {
			padding: 8px 0 16px;

			@include mobile-landscape {
				font-size: 30px;
				margin-bottom: 28px;
			}

			@include desktop {
				padding: 16px 0 24px;
			}
		}

		.heading-text {
			padding-bottom: 32px;

			@include mobile-landscape {
				display: none;
			}

			@include tablet {
				padding-bottom: 120px;
			}

			@include desktop {
				padding-bottom: 64px;
			}
		}

		.btn-box {
			.button {
				@include desktop {
					margin-bottom: 0;
				}
			}
			.button:nth-child(2) {
				margin-bottom: 72px;

				@include mobile-landscape {
					margin-bottom: 0;
				}

				@include desktop {
					margin-bottom: 0;
				}
			}
		}
	}

	&__more {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 29px;

		@include mobile-landscape {
			bottom: 15px;
		}

		@include desktop {
			left: 64px;
			bottom: 64px;
			transform: translateX(0);
		}

		@include bigDesktop {
			left: 128px;
			bottom: 64px;
			transform: translateX(0);
		}

		.shake-vertical {
			animation: shake-vertical 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;

			@include mobile-landscape {
				width: 10px;
			}
		}

		.section-text {
			display: none;

			@include desktop {
				display: inline;
				padding-left: 30px;
			}
		}
	}

	&__social {
		display: none;

		@include desktop {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 34px;

			.section-text {
				display: block;
				transform: rotate(-90deg);
			}

			.section-text:nth-child(1) {
				margin-bottom: 96px;
			}
		}

		@include bigDesktop {
			right: 100px;
		}
	}
}
