@use '../base/variables' as *;

/* Section meters */

.meter-content {
	display: flex;
	flex-direction: column;
	row-gap: 40px;

	@include mobile-landscape {
		flex-direction: row;
		justify-content: space-around;
	}

	@include tablet {
		flex-direction: row;
		justify-content: space-around;
	}

	@include desktop {
		padding: 0 157px;
	}

	.section-title,
	.section-text {
		text-align: center;
	}

	.section-title {
		padding: 0 0 16px !important;
		font-size: 32px;
		line-height: 43px;
		color: var(--color-white);

		@include tablet {
			font-size: 40px;
			line-height: 53px;
		}
	}

	.section-text {
		color: var(--color-meter);
	}
}
