@use '../base/variables' as *;

/* Subsection needs */

.subsection-needs {
	display: flex;
	flex-direction: column;
	padding: 24px;
	background-color: var(--color-green);
	border-radius: var(--border-radius-box);

	@include tablet {
		flex-direction: row;
	}

	&__box {
		@include tablet {
			width: 50%;
		}

		.heading--small {
			font-weight: 800;
			line-height: 32px;
		}

		.section-text {
			padding: 16px 0 32px;
			text-align: left;

			@include desktop {
				padding: 8px 0 0;
			}
		}
	}

	.btn-box {
		.button--message {
			margin-bottom: 0;
		}

		@include tablet {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			width: 50%;
		}

		@include desktop {
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			.button {
				padding: 16px 24px;
				margin-bottom: 0;
			}

			.button--message {
				width: 148px;
				order: 1;
			}

			.button:nth-child(1) {
				order: 2;
			}
		}
	}
}
