@use '../base/variables' as *;

/* Buttons */

.btn-box {
	display: flex;
	flex-direction: column;

	@include mobile-landscape {
		flex-direction: row;
	}

	@include desktop {
		flex-direction: row;
	}
}

.button {
	margin-bottom: 24px;
	padding: 12px 0;
	width: 100%;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.025em;
	text-align: center;
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius-btn);
	transition: all 0.3s;
	cursor: pointer;

	&:active {
		border: 1px solid var(--color-white);
	}

	&:first-child {
		@include mobile-landscape {
			margin-right: 16px;
		}
	}

	@include mobile-landscape {
		margin-bottom: 0;
	}

	@include tablet {
		width: 70%;
	}

	@include desktop {
		width: 206px;
		padding: 16px 0;
		margin-right: 16px;
	}

	&--message {
		@include desktop {
			width: 164px;
		}
	}

	&--border-white {
		border: 1px solid var(--color-white);

		&:hover {
			background-color: var(--color-white);
			color: var(--color-dark);
		}
	}

	&--border-dark {
		border: 1px solid var(--color-dark);

		&:hover {
			background-color: var(--color-dark);
		}
	}

	&--blue {
		background-color: var(--color-blue);

		&:hover {
			background-color: var(--color-blue-hover);
		}

		&:active {
			border: 1px solid var(--color-white);
		}
	}

	&--yellow {
		background-color: var(--color-yellow);

		&:hover {
			background-color: var(--color-yellow-hover);
		}
	}

	&--white {
		background-color: var(--color-white);

		&:hover {
			background-color: var(--color-white-hover);
		}
	}
}

/* Class to change box buttons */

.active {
	background-color: var(--color-white);
	color: var(--color-blue);
}

.btn-change:hover {
	color: var(--color-blue);
}
