@use '../base/variables' as *;

/* Navigation */

.header {
	position: absolute;
	padding: 16px 0;
	width: 100%;
	height: 64px;
	background-color: transparent;
	z-index: 100;

	@include desktop {
		padding-top: 8px;
		height: 104px;
	}

	&--sticky {
		position: fixed;
		background-color: var(--color-dark);
		box-shadow: 0px 1px 4px -2px var(--color-white);
	}

	&__nav {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		display: flex;
		align-items: center;

		.img {
			padding-right: 8px;

			@include desktop {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__menu {
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		top: 48px;
		right: 0;
		padding: 0 24px;
		width: 70%;
		height: calc(100vh - 48px);
		background-color: var(--color-blue);
		border-top-left-radius: var(--border-radius-box);
		box-shadow: -4px -4px 7px -3px rgba(24, 24, 27, 1);

		@include desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: static;
			padding: 0;
			width: 580px;
			height: 88px;
			background-color: transparent;
			border-top-left-radius: none;
			box-shadow: none;
		}

		.button {
			padding: 0;
			font-weight: 500;

			@include desktop {
				margin: 0;
				padding: 12px 0;
				width: 113px;
				font-weight: 600;
			}

			&:hover {
				background-color: transparent;

				@include desktop {
					background-color: darken(#3b82f6, 10%);
				}
			}
		}
	}

	&__burger-box {
		transition: filter 0.3s;
		cursor: pointer;

		&:hover {
			filter: invert(30%);
		}

		@include desktop {
			display: none;
		}
	}
}

.active-menu {
	display: flex;
	animation: animationShowMenu 1s forwards;

	@include desktop {
		animation: none;
	}
}

.menu-item {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.025em;
	color: var(--color-white);
	transition: color 0.3s;

	@include desktop {
		&:not(:last-child) {
			color: var(--color-heading-text);
		}
	}

	&:hover:not(:last-child) {
		@include desktop {
			color: var(--color-white);
		}
	}
}
