@use '../base/variables' as *;

/* Library of swiper */

.swiper {
	@include desktop {
		width: 502px;
		height: 364px;
		overflow: visible !important;
	}

	@include bigDesktop {
		width: 538px;
	}

	.swiper-wrapper {
		padding-bottom: 80px !important;
	}

	.swiper-pagination {
		left: auto !important;
		right: 24px !important;
		bottom: 120px !important;
		width: 50px !important;

		@include desktop {
			right: 40px !important;
			bottom: 52px !important;
		}
	}

	.swiper-pagination-bullet {
		border: 1px solid #ffffff !important;
		background: transparent !important;
		opacity: 1 !important;
	}

	.swiper-pagination-bullet-active {
		background: var(--color-white) !important;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto !important;
		bottom: 18px !important;
		color: var(--color-white) !important;

		&::after {
			font-size: 14px !important;
			font-weight: bold !important;

			@include desktop {
				font-size: 20px !important;
				z-index: 1000 !important;
			}
		}

		@include desktop {
			top: 50% !important;
			bottom: 50% !important;
		}
	}

	.swiper-button-prev {
		left: 56px !important;

		@include desktop {
			left: -80px !important;
		}
	}

	.swiper-button-next {
		right: 56px !important;

		@include desktop {
			right: -80px !important;
		}
	}
}
