/* Variables */

@font-face {
	font-family: 'sf-pro-display-bold';
	src: url('../../fonts/sfprodisplaybold-webfont.woff2') format('woff2'),
		url('../../fonts/sfprodisplaybold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--sf-pro-display-bold: 'sf-pro-display-bold', sans-serif;

	--color-dark: #18181b;
	--color-dark-opacity: #18181b40;
	--color-black: #222222;
	--color-black-opacity: #22222240;
	--color-black-form-border: #22222280;
	--color-white: #ffffff;
	--color-white-hover: #ffffffcc;
	--color-yellow: #facc15;
	--color-yellow-hover: #facc15cc;
	--color-blue: #3b82f6;
	--color-blue-hover: #60a5fa;
	--color-blue-hover-dark: #2563eb;
	--color-blue-hover-dark-opacity: #2563eb1a;
	--color-red: #e14343;
	--color-red-star: #f02f2f;
	--color-green: #14b8a6;
	--color-green-opacity: #14b8a61a;

	--color-background: #f4f4f5;

	--color-heading-text: #d4d4d8;
	--color-backgroud-social: #f6f6f6;
	--color-backgroud-social-hover: #e5e5e5;
	--color-background-change-box: #e4e4e7;
	--color-change-box: #52525b;
	--color-meter: #cccccc;

	--color-gray-light: #aaaaaa;
	--color-gray-regular: #a1a1aa;
	--color-gray-medium: #71717a;
	--color-gray-dusky: #666666;
	--color-gray-dark: #3f3f46;

	--border-radius-btn: 28px;
	--border-radius-slider: 4px;
	--border-radius-box: 6px;
	--border-radius-circle: 50%;
}

@mixin mobile-landscape {
	@media (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}

@mixin bigDesktop {
	@media (min-width: 1920px) {
		@content;
	}
}
